{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-3 heading"><h1>Graphs</h1></div>
	<div class="col-9">	
		<div class="graphOptions">
			<div class="selectContainer">
				<select name="tracker" id="tracker">
					<option value="" id="loadingTrackers">Loading</option>
					<option disabled>&#9472;</option>
				</select>
			</div>
			<div class="selectContainer">
				<select name="client" id="client">
					<option value="" id="loadingClients">Loading</option>
					<option disabled>&#9472;</option>
				</select>
			</div>
			<div class="selectContainer inputNumDays">
				<label for="days">
					<span style="float:left;margin-top:7px;">Last</span>
					<input type="number" name="days" id="days" value="" min="1">
					<abbr style="float:right;margin-top:7px;">Days</abbr>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="row dailyContainer">
	<div class="col-12 graphTitle">
		<h3>Daily Bandwidth Usage</h3><p class="numDaysTitle">Last 30 days</p>
	</div>
	<div class="col-12 graphInfo">
		<p>The total amount downloaded and uploaded per day. Click a data point to view itemised download/upload on that date.</p>
	</div>
	<div class="col-12">
		<div id="date-modal" class="modal-background">
			<div class="modal-content date-modal-content">
				<div class="date-modal-header">
					<span class="date-modal-close">&times;</span>
					<h4>Usage</h4>
				</div>
				<div class="modal-body">
					<p class="date-modal-info">&#9432; Click a torrent to view its complete history</p>
					<table id="date_table" class="display nowrap" style="width:100%;">
					<thead>
						<tr>
							<th>Name</th>
							<th>Downloaded</th>
							<th>Uploaded</th>
							<th>Total Down</th>
							<th>Total Up</th>
							<th>Ratio</th>
							<th>Size</th>
							<th>Progress</th>
							<th>Tracker</th>
							<th>Client</th>
							<th>Status</th>
							<th>Directory</th>
						</tr>
					</thead>
					</table>
				</div>
			</div>
		</div>
		<div id="torrent-modal" class="modal-background">
			<div class="modal-content torrent-modal-content">
				<div class="torrent-modal-header">
					<span class="torrent-modal-close">&times;</span>
					<h4>History</h4>
				</div>
				<div class="modal-body">
					<table id="single_history_table" class="display nowrap" style="width:100%;">
					<thead>
						<tr>
							<th>Date</th>
							<th>Progress</th>
							<th>Downloaded</th>
							<th>Uploaded</th>
							<th>Total Down</th>
							<th>Total Up</th>
							<th>Ratio</th>
						</tr>
					</thead>
					</table>
				</div>
			</div>
		</div>
		<div id="dailyChartContainer" style="width:100%;height:400px;"></div>
	</div>
</div>
<div class="row monthlyContainer">
	<div class="col-6 graphTitle">
		<h3>Monthly Usage</h3><p>Last 6 Months</p>
		<div id="monthlyChartContainer" style="width:100%;height:400px;"></div>
	</div>
	<div class="col-6 graphTitle trackerContainer">
		<h3>Most Active Trackers</h3><p class="numDaysTitle">Last 30 days</p>
		<div id="trackerChartContainer" style="width:100%;height:400px;"></div>
	</div>
</div>
<div class="row allTimeContainer">
	<div class="col-6 graphTitle">
		<h3>All-Time Highs</h3>
		<div id="allTimeTableContainer">
			<div class="buttonBar">
				<button id="all_time_24_btn" disabled>24hr</button><button id="all_time_month_btn">Month</button>
			</div>
			<table id="all_time_table" class="display nowrap">
			<thead>
				<tr>
					<th></th>
					<th>Date</th>
					<th>Downloaded</th>
					<th>Uploaded</th>
					<th>Total</th>
				</tr>
			</thead>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<button id="refreshHighchart">Clear localStorage</button>
	</div>
</div>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='DataTables/datatables.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='DataTables/Plugins/percentageBars.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='Highcharts-8.1.2/code/highcharts.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='Highcharts-8.1.2/code/modules/data.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='js/moment-timezone-with-data.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='js/index-torrents.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='js/index.js') }}"></script>
<script type="text/javascript">
	monthChartData({{ monthly_chart|tojson }});
</script>
{% endblock %}	